@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  background: linear-gradient(to right, #000E04 0%, #150810 100%);
}

* {
  font-family: 'Montserrat', 'sans-serif';
  box-sizing: border-box;
}

.rightClickText {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 5px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

@media(min-width: 320px) and (max-width: 950px) {
  .rightClickText {
    font-size: 14px;
  }
}

